# Object files
*.o
*.ko
*.obj
*.elf
*.log

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

.vscode
# build files
logs/
build/
_builds/
_output/
cmake-build-debug/
.DS_Store
